<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用spring来创建对象  ，在spring这些都称为bean

    类型  变量名 = new 类型();
    Hello hello = new Hello();

    id =  变量名
    class = new 对象
    property  :相对于给对象中的属性设置一个值

    -->
    <bean id="he" class="com.rzk.pojo.Hello">
        <property name="hello" value="你好"/>
     </bean>
</beans>